@charset "UTF-8";

// Start coding Bulma Variables here

$family-sans-serif: "Alata", sans-serif;
$family-primary: "Josefin Sans", sans-serif;

// Color

$light-01: #fff;

$dark-black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 55%);
$very-dark-gray: hsl(0, 0%, 41%);
$light-gray: #f5f5f5;

// Start coding Bulma Variables here

$body-family: $family-sans-serif;
$body-size: 15px !important;

$navbar-burger-color: $light-01;

// Custom CSS Here

body {
  background-color: $light-gray !important;
}

.navbar-end {
  a.navbar-item:hover {
    border-bottom: 2px solid $light-01 !important;
    padding-bottom: 12px !important;
    border-radius: 0px !important;
  }
}

.header-hero-text {
  h1 {
    font-family: $family-primary !important;
    font-size: 2.8em !important;
    font-weight: 300 !important;
    color: $light-01 !important;
    padding: 0.7em !important;
    width: 359px !important;
    border: 1px solid $light-01 !important;
    text-transform: uppercase !important;
  }
}

.overlapping-01 img {
  width: 654px !important;
  height: auto !important;
}

.overlapping-02 {
  position: absolute !important;
  top: 172px !important;
  left: 500px !important;
  background-color: $light-01 !important;
  padding: 16px !important;
  max-height: 100% !important;
  width: 520px !important;
  display: flex !important;

  h1 {
    font-size: 32px !important;
    font-weight: 300 !important;
    line-height: 35px !important;
    font-family: $family-primary !important;
    text-transform: uppercase !important;
    margin: 26.56px !important;
  }

  p {
    font-family: $family-sans-serif !important;
    font-size: 14px !important;
    line-height: 21px !important;
    font-weight: 400 !important;
    margin-left: 26.56px !important;
    margin-right: 26.56px !important;
    margin-bottom: 26.56px !important;
    margin-top: 10px !important;
  }
}

h1.title {
  font-family: "Josefin Sans", sans-serif !important;

  font-weight: 300 !important;
  color: hsl(0, 0%, 100%) !important;
}

p.subtitle {
  font-size: 16px !important;
  font-weight: 600px !important;
  color: #fff !important;
}

p.terms-link {
  color: hsl(246, 25%, 77%) !important;
  font-weight: 500 !important;
  font-size: 9px !important;
}

p.terms-link a {
  color: hsl(0, 100%, 74%) !important;
  text-decoration-color: hsl(0, 100%, 74%) !important;
  text-decoration-line: none;
}

p.tutorial-link img {
  vertical-align: middle !important;
}

.contact-detail {
  display: flex;
  align-items: center;
  color: white;
  gap: 1rem;
  margin-bottom: 1rem;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
}

.footer {
  background-color: $dark-black !important;

  p.copyright {
    color: $light-01 !important;
  }

  .links-footer {
    font-family: $family-sans-serif !important;
    font-size: 14px !important;
    line-height: 21px !important;
    font-weight: 300 !important;
    color: $light-01 !important;

    a.navbar-item {
      color: $light-01 !important;
    }
  }

  a.navbar-item {
    background-color: transparent !important;
    color: transparent !important;
  }
}

// Import only what you need from Bulma

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
